name: Go

on:
  push:
    tags: [ 'v*' ]
    branches: [ 'main' ]
  pull_request:
    tags: [ 'v*' ]
    branches: [ 'main' ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: '1.23'

      - name: Build gosedctl
        run: go build ./cmd/gosedctl

      - name: Build sedlockctl
        run: go build ./cmd/sedlockctl

      - name: Build tcgdiskstat
        run: go build ./cmd/tcgdiskstat

      - name: Build tcgsdiag
        run: go build ./cmd/tcgsdiag

  test:
    name: Test Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.23'

      - name: Get dependencies
        run: make get-dependencies

      - name: Ensure that all files are properly formatted
        run: |
          FILES=$(gofmt -s -l cmd pkg)
          if [ -n "${FILES}" ]; then
              printf "Following files are not formatted: \n%s" "$FILES"
              exit 1
          fi

      - name: Go vet
        run: go vet ./...

      - name: Run tests
        run: go test -v ./...

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: '1.23'

      - name: Generate coverage cmds
        run: go test -race -covermode=atomic -coverprofile=coverage.out ./...

      - name: Upload coverage report
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}