name: golangci-lint
on:
  push:
    tags: [ 'v*' ]
    branches: [ 'main' ]
  pull_request:
    tags: [ 'v*' ]
    branches: [ 'main' ]

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "1.23"
      - uses: actions/checkout@v5
      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v9.1.0
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest
